# Manipulating Data - Part 2

* We will go over some more important topics in data manipulations.
* We will primarily go over how to sort, merge, and transpose data.
* Even more important, we will introduce a very powerful tool called PROC SQL.

## The PROC

* Before we start talking about these things, we need to know more about the PROC. 
* The PROC step consists of a group of SAS statements that call and execute a procedure, usually with a SAS data set as input.
    * Use PROCs to analyze the data in a SAS data set, produce formatted reports or other results, or provide ways to manage SAS files.
    * You can modify PROCs with minimal effort to generate the output that you need.
    * PROCs can also perform functions, such as displaying information about a SAS data set.
* The output from a PROC step can provide univariate descriptive statistics, frequency tables, crosstabulation tables, tabular reports consisting of descriptive statistics, charts, plots, and so on.
    * Output can also be in the form of an updated data set.
* Because PROC usually operates on a data set, we usually need specify a data = statement. For example,

In [ ]:
PROC CONTENTS DATA = SASHELP.CARS;
RUN;

* This will yield an HTML page as output. These outputs are actually also tables. You can use ODS ouput to read these numbers. More later.

## Sort Data

* To sort data, we need to use PROC SORT. Let's try to use SASHELP.CARS as an example.

In [ ]:
DATA CARS; /* I have to create a copy of this because I am not allowed to change the data in the SASHELP library */
    SET SASHELP.CARS;
RUN;

PROC SORT DATA = CARS;
    BY Make;
RUN;

PROC SORT DATA = CARS;
    BY Type;
RUN;

PROC SORT DATA = CARS;
    BY Make Type;
RUN;

* We can change add some options to achieve more functions in the sort. For example, if I want to keep a copy of the original data but put the sorted data in another file, we can use the OUT = option.

In [ ]:
PROC SORT DATA = SASHELP.CARS OUT = CARS_SORTED;
    BY Make Type;
RUN;

## Subsetting Data using ***DATA SET OPTION***

* We can subset the data using ***data set options***.  
    * ***(OBS = 10)*** is also a data set option. 
* Let's say we want to sort and output the DriveTrain = All and MSRP less than $30,000.

In [ ]:
PROC SORT DATA = SASHELP.CARS (where = (DriveTrain = "All" and MSRP <= 30000)) OUT = CARS_SORTED;
    BY Make Type;
RUN;

* We can also subset columns using keep or drop. Let's say we want to only keep these four columns: Make Model MSRP Origin

In [ ]:
PROC SORT DATA = SASHELP.CARS (where = (DriveTrain = "All" and MSRP <= 30000)) OUT = CARS_SORTED (keep = Make Model MSRP Origin);
    BY Make Type;
RUN;

* Why do I put where = and keep = behind different data sets? Let's put them behind one data and see what happens.

In [ ]:
PROC SORT DATA = SASHELP.CARS (keep = Make Model MSRP Origin where = (DriveTrain = "All" and MSRP <= 30000)) OUT = CARS_SORTED;
    BY Make Type;
RUN;

* Can you think about what the reported error means? 
* Why do you think the error is reported?

* What if we try these?

In [ ]:
PROC SORT DATA = SASHELP.CARS (where = (DriveTrain = "All" and MSRP <= 30000) keep = Make Model MSRP Origin) OUT = CARS_SORTED;
    BY Make Type;
RUN;

In [ ]:
PROC SORT DATA = SASHELP.CARS (keep = Make Model MSRP Origin) OUT = CARS_SORTED;
    BY Make Type;
    where DriveTrain = "All" and MSRP <= 30000;
RUN;

* As you can see, ***DATA SET OPTIONS*** can be pretty versatile.
* It will be come very handy really soon. With data set options, we can make the code shorter and are less likely to make mistakes.

* Sorting data can be slow, but it is crucial to a lot of operations in SAS. For example, let's print CARS_SORTED as an output. When you run the following code, you should be able to see the output window.

In [ ]:
PROC SORT DATA = SASHELP.CARS (where = (DriveTrain = "All" and MSRP <= 30000)) OUT = CARS_SORTED (keep = Make Model MSRP Origin);
    BY Make Type;
RUN;

PROC PRINT DATA = CARS_SORTED;
RUN;

* Now, I want to print the resulting data and group by each origin of the car. What can we do? 
* We can use the BY statement in PROC PRINT. BY statement tells the PROC to process things by group. 
* To use the BY statement, the data must be sorted by the group variable. Try the following.

In [ ]:
PROC SORT DATA = SASHELP.CARS (where = (DriveTrain = "All" and MSRP <= 30000)) OUT = CARS_SORTED (keep = Make Model MSRP Origin);
    BY Make Type;
RUN;

PROC PRINT DATA = CARS_SORTED;
    BY Origin; /* <--- The BY statement */
RUN;

* You should see an error saying the data is not sorted. How can we address this issue?
* So let's sort it properly and the rerun. Try to do it yourself before you look at the code.

In [ ]:
PROC SORT DATA = SASHELP.CARS (where = (DriveTrain = "All" and MSRP <= 30000)) OUT = CARS_SORTED (keep = Make Model MSRP Origin);
    BY Origin;
RUN;

PROC PRINT DATA = CARS_SORTED;
    BY Origin;
RUN;

## Merge Data

* There are two major ways to merge data - DATA step or PROC SQL.
    * You don't need anything else unless when you have to handle large data.

### Merge Data using DATA step

#### Base Example

* Load the data

In [ ]:
FILENAME test temp; /* <-- I put the data on github. This little block saves you from downloading the data and uploading the data to SAS ODA */
proc http url='https://github.com/xieyutongcn/Statistical_Programming/raw/e89edba9a803dc61f62893f8a6c7d8c8e6a553eb/03/Data_To_Merge.xlsx' method="GET" out=test;
run;

/* The code below imports each sheet */
proc import file=test dbms=xlsx out=USA_CARS replace;
getnames=yes;
sheet="USA_Cars";
run;

proc import file=test dbms=xlsx out=Gernam_CARS replace;
getnames=yes;
sheet="German_Cars";
run;

proc import file=test dbms=xlsx out=Japan_CARS replace;
getnames=yes;
sheet="Japan_Cars";
run;

FILENAME test temp;
proc http url='https://github.com/xieyutongcn/Statistical_Programming/raw/main/03/Cars.csv' method="GET" out=test;
run;

proc import file=test dbms=csv out=CARS replace;
getnames=yes;
run;

* Take a look at each data.
    * What are the identifying variables?
    * What information does each data set contains?
    * What are the overlapping columns? What are the unique columns?

* Let's merge Cars with USA_Cars.

In [ ]:
DATA NEW;
    MERGE Cars USA_Cars;
    BY ID;
RUN;

<center><font size="+2">Anything wrong? What do we need to do before using a BY?</font></center>

<center><font size="+2">You are right! <b>SORT!</b></font></center>

In [ ]:
PROC SORT DATA = Cars;
    BY ID;
RUN;

PROC SORT DATA = USA_Cars;
    BY ID;
RUN;

DATA NEW;
    MERGE Cars USA_Cars;
    BY ID;
RUN;

* There are a few possibilities for the target data set: 
    * Keep the observations that appear in both data (***inner join***)
    * Keep all the observations that appear in one of the data sets (***left or right join***)
    * Keep all observations that appear in both data sets (***full join***)
    * Keep all observations from one data set that do not also appear in the other (***exclusion***)
* What join was the data we just created?

#### Data set option ***in =***

* How do we achieve these different joins? 
    * We just need to use a data set option **in =**

In [ ]:
DATA NEW;
    MERGE Data1 (in = In1) Data2 (in = In2);
    BY ID;
    In1_explicit = In1;
    In2_explicit = In2;
RUN;

* Let's see the data. 
    * The **in =** option creates two implict variables **In1** and **In2**.
        * These are Booleans, which means they are either TRUE of FALSE. 
    * We use **In1_explicit** and **In2_explicit** to create two columns to show **In1** and **In2**.
    * They mark whether an observation is found from the **Data1** and **Data2**.
* So to achieve inner, left, right, full or exclusion join, we need to use these two variables.

#### Different Merges with Data Step and ***in =*** Option

In [ ]:
/* Left Join */ 
DATA NEW;
    MERGE Data1 (in = In1) Data2 (in = In2);
    BY ID;
    if In1;
RUN;

In [ ]:
/* Right Join */ 
DATA NEW;
    MERGE Data1 (in = In1) Data2 (in = In2);
    BY ID;
    if In2;
RUN;

In [ ]:
/* Intersection (Inner Join) */ 
DATA NEW;
    MERGE Data1 (in = In1) Data2 (in = In2);
    BY ID;
    if In1 and In2;
RUN;

In [ ]:
/* Exclusion */ 
DATA NEW;
    MERGE Data1 (in = In1) Data2 (in = In2);
    BY ID;
    if In1 and not In2;
RUN;

#### Let's Try This

* Let's create a data that gives me all the information of German cars.

#### Calculate a Summary and Merge Back

In some scenarios, we need to add the average of a column to the data. For example, we want to select the data above or below the average. Then, need to calculate the average first using PROC MEANS and then merge the data with the original data.

PROC MEANS is another important PROC. It can calculate statistics of numeric variables, such as average (mean), standard deviation, variance, minimum, maximum and so on.

In [ ]:
PROC MEANS DATA = SASHELP.CARS;
    VAR MSRP;
RUN;

By default, this will create an HTML output. However, we want a table so that we can merge back. Fortunately, PROC MEANS offers such an option.

In [ ]:
PROC MEANS DATA = SASHELP.CARS;
    VAR MSRP;
    OUTPUT OUT = AVERAGE MEAN = / AUTONAME;
RUN;

/* or */

PROC MEANS DATA = SASHELP.CARS;
    OUTPUT OUT = AVERAGE MEAN(MSRP) = / AUTONAME;
RUN;

Both will create the same data and print the output. We don't really need it to print the output because we are trying to get the average. We can specify the **NOPRINT** option.

In [ ]:
PROC MEANS DATA = SASHELP.CARS NOPRINT;
    OUTPUT OUT = AVERAGE MEAN(MSRP) = / AUTONAME;
RUN;

Then merge back.

In [ ]:
DATA NEW;
    IF _N_ = 1 THEN SET AVERAGE;
    SET SASHELP.CARS;
RUN;

In this DATA step, SASHELP.CARS is the data set with more than one observation (the original data) and AVERAGE is the data set with a single observation (the average). SAS reads SASHELP.CARS in a normal SETvstatement, simply reading the observations in a straightforward way. SAS also reads AVERAGE with a SET statement but only in the first iteration of the DATA step—when the SAS automatic variable _N_ equals 1. (More on this later.) SAS then retains the values of variables from AVERAGE for all observations in new-data-set.

This works because variables that are read with a SET statement are automatically retained. Normally, you don't notice this because the retained values are overwritten by the next observation. But in this case the variables from summary-data-set are read once at the first iteration of the DATA step and then retained for all other observations. The effect is similar to a RETAIN statement (more on this later). This technique can be used any time you
want to combine a single observation with many observations, without a common variable.

### PROC SQL and Merge Data using PROC SQL

#### Brief Intro of PROC SQL

* PROC SQL copies the SQL language to SAS.
    * Consider PROC SQL as a SAS version of the SQL.
        * SQL is a power database management language.
* A typical PROC SQL looks like this.

In [ ]:
PROC SQL;
    create table new_table as 
    select distinct a.*, b.*
    from old_table1 as a, old_table as b
    where a.id = b.id;
QUIT;

* Note that even though this is a long statement, I only have one **;** betwee **PROC SQL;** and **QUIT;**.
    * What's between is very similar to the SQL language. 
* Also note that this statement ends with **QUIT;** not **RUN;**

We can use PROC SQL to subset data, modify data, create new variables or even calculate complex statistical values. The following code will 
1. create a data set called **CARS_SORTED** from SASHELP.CARS,
2. sort data by Origin
3. Keep only Make Model MSRP Origin
4. Keep only DriveTrain = All and MSRP no more than 30000
5. Calculate the average MSRP for each manufacturer (Make)

In [ ]:
PROC SQL;
    create table CARS_SORTED as 
    select distinct Make, Model, MSRP, Origin, mean(MSRP) as Average_MSRP
    from SASHELP.CARS
    where DriveTrain = "All" and MSRP <= 30000
    group by Make
    order by Origin;
QUIT;

As you can see, SQL is very powerful. You can even put multiple SQL commands in one PROC SQL statement. The statements will execute in order.

In [ ]:
PROC SQL;

    create table CARS_SORTED as 
    select distinct Make, Model, MSRP, Origin, mean(MSRP) as Average_MSRP
    from SASHELP.CARS
    where DriveTrain = "All" and MSRP <= 30000
    group by Make
    order by Origin;

    create table CARS_SORTED2 as 
    select distinct Make, Model, MSRP, Origin, mean(MSRP) as Average_MSRP
    from SASHELP.CARS
    where DriveTrain = "All" and MSRP > 30000
    group by Make
    order by Origin;

QUIT;

#### Inner Join

In [ ]:
PROC SQL;
Create table dummy as
Select * from A Inner Join B
on a.ID = b.id;
Quit;

PROC SQL;
Create table dummy as
Select * from A Join B
on a.ID = b.id;
Quit;

PROC SQL;
Create table dummy as
Select * from A, B
where a.ID = b.id;
Quit;

#### Left Join

In [ ]:
PROC SQL;
Create table dummy as
Select * from A left Join B
on a.ID = b.id;
Quit;

#### Right Join

In [ ]:
PROC SQL;
Create table dummy as
Select * from A right Join B
on a.ID = b.id;
Quit;

#### Full Join

In [ ]:
PROC SQL;
Create table dummy as
Select * from A full Join B
on a.ID = b.id;
Quit;

#### Cross Join

In [ ]:
PROC SQL;
Create table dummy as
Select * from A cross Join B;
Quit;

More can be done. Use this image as a reference. 

<img src="SQLJoins.png">

This compares data step merge and SQL merge

<img src="Merging1.jpg">

<img src="Merging2.jpg">

## Transpose Data

## Transpose Data

## Transpose Data

## Transpose Data

## Transpose Data